*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

@property --backgroundColor {
    syntax: "<color>";
    inherits: true;
    initial-value: #080808;
}

@property --textColor {
    syntax: "<color>";
    inherits: true;
    initial-value: #ababab;
}

@property --hoverColor {
    syntax: "<color>";
    inherits: true;
    initial-value: #950101;
}

@property --spanColor {
    syntax: "<color>";
    inherits: true;
    initial-value: #FF0000;
}

body{
    background: var(--backgroundColor);
    color: var(--textColor);
}

/*---Ribbon Start style---*/
#header{
    width: 100%;
    height: 100vh;
    background-image: url(img/side.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 200px;
    font-size: 45px;
    margin-top: 10px;
    color: var(--textColor);
    text-decoration: none;
}

.logo span{
    color: var(--spanColor);
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: var(--textColor);
    text-decoration: none;
    font-size: 16px;
    position: relative;   
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: var(--hoverColor);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .4s;
}

nav ul li a:hover::after{
    width: 100%;
}

/*---services section---*/
.sub-title{
    padding: 20px 100px;
    font-size: 60px;
    font-weight: 600;
    color: var(--textColor);
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: var(--backgroundColor);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 20px;
    transition: background .5s, transform .5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div p{
    font-size: 15px;
}

.services-list div a{
    text-decoration: none;
    color: var(--textColor);
    font-size: 25px;
    margin-top: 20px;
    display: inline-block;
    transition: transform 0.5s;
}

.services-list div a:hover{
    background: var(--backgroundColor);
    transform: translateY(-6px);
}

.services-list div:hover{
    background: var(--hoverColor);
    transform: translateY(-10px);
}